@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #fafafa;
}

.btn{
    @apply text-white w-full py-1 rounded;
    background-color: #0095F6;
}
form i {
    margin-left: -40px;
    font-size: 1.1em;
    cursor:pointer;
}